*{
	margin: 0px;
	padding: 0px;
}

#menu-ab{

	
}



.navbar-brand > img {
    max-width: 45%;
    margin: 0px 108px;
}

.navbar-default {

    background-color: transparent;
    border-color: transparent;

}

.navbar-right {
   
    margin-right: 84px;
    margin-top: 21px;
}

.jumbotron {

    background-color: transparent;
    margin: 0px 65px;

}

.jumbotron h2 {
    background-color: rgba( 0, 0, 0, .5);
    color: #ffff;
    display: inline-block;
    padding: 7px 18px;
   

}

.jumbotron p{
	width: 500px;
	color: #ffff;
}



span.underline-one{

	display: block;
margin: 15px 0px;
width: 100%;
padding: 4px;
border-bottom: 8px solid #E4E4E4;
float: left;

}


#about{

    background-color: #ffff;

}


.one{

    margin: 35px 118px;
    position: relative;
}

.two {
    position: absolute;
    left: 735px;
    top: 114px;
}

.one h1{
    text-transform: uppercase;

}

.one p{

   margin-right: 136px; 
}


.two p{

   margin-right: 213px;
    margin-top: 38px;
}

.one span.underline{

    display: block;

margin: 15px 0px;

width: 18px;

padding: 4px;

border-bottom: 2px solid #121212;

float: left;

margin-right: 100%;
}

.hsp{

    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 263px;
    width: 398px;
    margin-top: 73px;
    position: relative;
}

.hcar{

background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 130px;
    width: 243px;
    position: absolute;
    top: 124px;
    left: 191px;


}




#footer{

    background-color: #F33E2D;
    text-align: center;
    color: #ffff;
    padding: 43px;
}
